
body{
    background-color: #b53333;
   color: #15440a
    
}

h1 {
    text-align: center;
    font-size: 50pt;
    font-family: 'Indie Flower', cursive;
    color: #d0d8ce;
}
#uBurger{
    text-align: center;
    font-family: 'Lilita One', cursive;
  
}